<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="all" />
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
 	<script src="{{ site.baseurl }}/bower_components/github.commits.widget/js/github.commits.widget.js"></script>
 	<link rel="stylesheet" type="text/css" src="{{ site.baseurl }}/bower_components/semantic-ui/build/packaged/css/semantic.min.css"></link>	
 	<script src="{{ site.baseurl }}/bower_components/semantic-ui/build/packaged/javascript/semantic.min.js"></script>	

</head>
<body>
	{{ content }}
<script>
    $(function() {
        $('#github-commits').githubInfoWidget(
            { user: 'Team-One', repo: 'project-timeline', branch: 'gh-pages', last: 15, limitMessageTo: 30, avatarSize: 33 });
    });
</script>
</body>
</html>